.landing{
    height: 100%;

    .landing-content{
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}
