<h1>Nos destinations de rêves</h1>

<p *ngIf="places.length > 0; else empty">
    Découvrez nos {{ places.length }} destinations pour vous évadez
</p>
<ng-template #empty>
    <p>
        Aucune destination disponible pour le moment
    </p>
</ng-template>

<section class="places">
    <mat-card class="place" *ngFor="let place of places" [routerLink]="['/display', place.id]">
        <mat-card-header>
            <mat-card-title>{{ place.name }}</mat-card-title>
            <mat-card-subtitle>{{ place.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="place.picture" [alt]="place.name">
        <mat-card-content>
            {{ place.price }}€
        </mat-card-content>
    </mat-card>
</section>


